<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="padding: 50px">
    <div id="app">
        <h1>昵称</h1>
        <div v-text="nickname"></div>
        <input type="text" v-model="nickname">
        <br>
        <h1>年龄</h1>
        <div>{{ age }}</div>
        <input type="text" v-model="age">
    </div>
    <script>
        class Watcher {
            constructor({ node, key, attr, data }) {
                this.node = node; // 指令对应的DOM节点
                this.key = key; // data的key
                this.attr = attr; // 绑定的html原生属性，本例v-text对应textContent
                this.data = data; // 监听的数据
                this.update(); // 初始化更新数据
            }
            // 更新
            update() {
                this.node[this.attr] = this.data[this.key];
            }
        }
        class Vue {
            constructor({ el, data }) {
                // 获取dom
                this.$el = document.querySelector(el);
                // 监听（观察）的数据
                this.$data = data || {};
                // 订阅每个key（订阅管理器）
                this.$directives = {};
                this.observe(this.$data);
                this.compile(this.$el);
            }
            // 设置监听数据
            observe(data) {
                const _this = this;
                /*
                for (const key in data) {
                    // 当前每项的value
                    let value = data[key];
                    if (typeof value === 'object') this.observe(value);
                    Object.defineProperty(data, key, {
                        enumerable: true, // 设置属性可枚举
                        configurable: true, // 设置属性可删除
                        get() {
                            return value;
                        },
                        set(newValue) {
                            // 新的值与原来的值相等就不用执行以下（更新）操作
                            if (newValue === value) return;
                            value = newValue;
                            // 监听到值改变后更新对应指令的数据
                            _this.$directives[key].forEach(fn => {
                                fn.update();
                            });
                        }
                    });
                }
                */
               this.$data = new Proxy(data, {
                   get(target, key) {
                       return target[key];
                   },
                   set(target, key, value) {
                       const status = Reflect.set(target, key, value);
                       if (status) {
                           // 当status
                           _this.$directives[key].forEach(fn => {
                               fn.update();
                           });
                       }
                       return status;
                   }
               });
            }
            // 设置指令（设置每个订阅者）
            setDirective(node, key, attr) {
                const watcher = new Watcher({ node, key, attr, data: this.$data });
                if (this.$directives[key]) this.$directives[key].push(watcher);
                else this.$directives[key] = [watcher];
            }
            // 解析器-遍历拿到dom上的指令（这里其实是把指令当做自定义属性来处理）
            compile(dom) {
                const _this = this;
                const reg = /\{\{(.*)\}\}/; // 来匹配{{ xxx }}中的xxx
                const ndoes = dom.childNodes; // 节点集
                // ndoes是类数组对象不能使用es迭代器，需要转成数据
                Array.from(ndoes).forEach(node => {
                    // 如果node还有子项，执行递归
                    if (node.childNodes.length) _this.compile(node);
                    // 在本例中使用nodeType来判断是什么类型，如nodeType为3时表示node的子节点有且仅有一个文本类型，也就是{{ xxx }}
                    if (node.nodeType === 3) {
                        if (reg.test(node.nodeValue)) {
                            const key = RegExp.$1.trim(); // $1获取reg匹配到的第一个值
                            // 声明 {{ xxx }} 为text类型
                            _this.setDirective(node, key, 'nodeValue');
                        }
                    }
                    if (node.nodeType === 1) {
                        // v-text
                        if (node.hasAttribute('v-text')) {
                            const key = node.getAttribute('v-text'); // key就是实例化Vue是传入的nickname/age
                            node.removeAttribute('v-text'); // 移除node上的自定义属性
                            _this.setDirective(node, key, 'textContent');
                        }
                        // v-model 且node必须是input标签
                        if (node.hasAttribute('v-model') && node.tagName === 'INPUT') {
                            const key = node.getAttribute('v-model'); // key就是实例化Vue是传入的nickname/age
                            node.removeAttribute('v-model'); // 移除node上的自定义属性
                            _this.setDirective(node, key, 'value');
                            // 设置input事件监听
                            node.addEventListener('input', e => {
                                _this.$data[key] = e.target.value;
                            });
                        }
                    }
                });
            }
        }
		console.time('start===');
        new Vue({
            el: '#app',
            data: {
                nickname: '我友几个逗逼',
                age: 18
            }
        });
		console.timeEnd('start===');
    </script>
</body>

</html>